* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.main {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.side-bar {
    background-image: url('converted-the-latest-mandalorian-posters-into-mobile-v0-tiidy6vnnama1.webp');
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

.logo-text {
    font-size: 75px;
    font-family: 'Norse';
    color: white;
    background-color: rgba(0, 0, 0, 0.263);
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

p {
    font-size: 22px; 
    word-spacing: 0.5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    min-height: 100vh;
    width: 62.5%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
    padding-bottom: 45px;
}


.text, .form{
    margin-left: 45px;
    min-height: 30vh;
}

.submit-form {
    padding-left: 45px;
    padding-top: 30px;
    background-color: whitesmoke;
    min-width: 100em;
}


.row-1, .row-2, .row-3 {
    display: flex;
    flex-direction: row;
    gap: 100px; 
    list-style-type: none;
    margin-left: 45px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

li {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 3px; 
}

.form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-bottom: 80px; 
    margin-left: 0;

}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    width: 210px;
    height: 28px; 
    border:lightgrey 1px solid;
    border-radius: 5px;
}

h2 {
    margin-left: 45px;
    margin-top: 20px; 
    font-weight:400;
    font-size: 20px;
}

.acc-btn {
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    width: 215px;
    height: 43px;
}

.acc-btn:active {
    background-color: #445337;
}

.account-text {
    font-size: 16px;
}

.account {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    gap: 5px;
}

.log-in {
    border: none;
    background-color: whitesmoke;
    color: #596D48;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}



